Django==4.2.4
djangorestframework==3.14.0
python-dotenv==1.0.0
psycopg2-binary==2.9.7
coverage==7.3.1
django-phonenumber-field==7.1.0
phonenumbers==8.13.20
django-cors-headers==4.2.0
drf-yasg==1.21.7
pillow==10.0.0
flake8==6.1.0
djangorestframework-simplejwt==5.3.0

